1-color-flipper/final
2-counter/final
3-reviews/final
4-navbar/final
5-sidebar/final
6-modal/final
7-questions/final
8-menu/final
9-video/final
10-scroll/final
11-tabs/final
12-countdown-timer/final
13-lorem-ipsum/final
14-grocery-bud/final
15-slider/final
16-ES6-slider/final
17-stripe-submenus/final
18-pagination/final

.idea
